<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <ui:composition template="/template/mainTemplate.xhtml">
        <ui:define name="title">Ledger Group</ui:define>
        <ui:define name="content">
            <h1 class="pagetitle">Ledger Group</h1>
            <div class="account">
                <div class="rtinner_left_block">            
                    <p:growl globalOnly="true"/>
                    <h:form>
                        <h:commandButton value="New" action="#{ledgerGroupBeanJsf.initCreate}"/>
                    </h:form>
    
     <h:form id="manageNoticePanelForm">
                        <rich:dataTable id="dtLedgerGroup"
                                        value="#{ledgerGroupDataModelJsf.ledgerGroupDtos}"
                                        var="ledgerGroupDto"
                                        rowKeyVar="row">
                            <f:facet name="noData">
                                <h:outputText value="No records found!" id="noRecord" style="font-size: 14px;color: red"/>
                                <script>
                                    document.getElementById("adiv").style.visibility = "hidden";
                                </script>
                            </f:facet>

                            <h:column>
                                <f:facet name="header">
                                    <h:outputLabel value="S.N."/>
                                </f:facet>
                                <h:outputText value="#{row+1}"/>
                            </h:column>

                            <h:column>
                                <f:facet name="header">
                                    <h:outputLabel value="Name"/>
                                </f:facet>
                                <h:outputText value="#{ledgerGroupDto.name}"/>
                            </h:column>

                            <h:column>
                                <f:facet name="header">
                                    <h:outputLabel value="Code"/>
                                </f:facet>
                                <h:outputText value="#{ledgerGroupDto.code}"/>
                            </h:column>
                            
                            <h:column>
                                <f:facet name="header">
                                    <h:outputLabel value="Main Group"/>
                                </f:facet>
                                  <h:outputText value="#{ledgerGroupDto.mainGroup}"/>
                            </h:column>

                            <h:column>
                                <f:facet name="header">
                                    <h:outputLabel value="Description"/>
                                </f:facet>
                                <h:outputText value="#{ledgerGroupDto.description}"/>
                            </h:column>
                            
                              
                            
                            <h:column>
                                <f:facet name="header">
                                    <h:outputLabel value="Actions"/>
                                </f:facet>

                                <h:commandLink class="action edit" title="Edit" value="" action="#{ledgerGroupBeanJsf.initEdit()}">
                                    <f:setPropertyActionListener value="#{ledgerGroupDto}" target="#{ledgerGroupDataModelJsf.ledgerGroupDto}"/>
                                    <f:ajax execute="@this" onevent="function(data){showJqueryLoader(data)}" render="@form"/>
                                </h:commandLink>

                                <h:commandLink class="action delete" title="Delete" value="" action="#{ledgerGroupBeanJsf.delete}" onclick="return confirm('Are You Sure?')">
                                    <f:setPropertyActionListener value="#{ledgerGroupDto}" target="#{ledgerGroupDataModelJsf.ledgerGroupDto}"/>
                                    <f:ajax execute="@this" onevent="function(data){showJqueryLoader(data)}" render="@form"/>
                                </h:commandLink>

                            </h:column>
                        </rich:dataTable>
                    </h:form>
                </div>
            </div>
            
            <h:form id="frmEditParent">
                <rich:popupPanel show="#{ledgerGroupDataModelJsf.createEditPanel}" styleClass="customPop" id="popupEditParent" domElementAttachment="form" autosized="true" resizeable="false" moveable="true" onmaskclick="#{rich:component('popupEditParent')}.hide();">
                    <div class="account">
                        <div class="rtinner_left_block">
                            <fieldset class="container-fluid">
                                <legend><h2>Create/Edit Ledger Group</h2></legend>
                                <p>
                                    <h:outputLabel value="Name: "><span class="compulsoryField">*</span></h:outputLabel>
                                    <h:inputText id="itClassName" 
                                                 required="true" 
                                                 requiredMessage="Enter Name" 
                                                 validatorMessage="Enter Valid Name."
                                                 value="#{ledgerGroupDataModelJsf.ledgerGroupDto.name}">
                                        <f:converter converterId="convertor.StringSpace"/>
                                    </h:inputText>
                                    <h:message class="redcolortext" for="itClassName" id="itClassNameErr"/>
                                </p>
                                <p>
                                    <h:outputLabel value="Code: "><span class="compulsoryField">*</span></h:outputLabel>
                                    <h:inputText id="itClassCode" 
                                                 required="true" 
                                                 requiredMessage="Enter Code" 
                                                 validatorMessage="Enter Valid Code."
                                                 value="#{ledgerGroupDataModelJsf.ledgerGroupDto.code}">
                                    </h:inputText>
                                    <h:message class="redcolortext" for="itClassCode" id="itClassCodeErr"/>
                                </p>
                                
                                  <p>
                                    <h:outputLabel value="Main Group: "><span class="compulsoryField">*</span></h:outputLabel>
                                  <!--  <h:inputText id="itClassMainGroup" 
                                                 required="true" 
                                                 requiredMessage="Select a Group" 
                                                 validatorMessage="Select valid  Group."
                                                 value="">
                                    </h:inputText>-->
                                    <h:selectOneMenu id="itClassMainGroup"  
                                                     required="true"
                                                     requiredMessage="Select a Group" 
                                                     validatorMessage="Select valid  Group."
                                                     value="#{ledgerGroupDataModelJsf.ledgerGroupDto.mainGroup}" style="width:300px">
                                        <f:selectItem itemLabel="Select a Group" itemValue="" noSelectionOption="true"/>
                                        <f:selectItems value="#{ledgerGroupDataModelJsf.ledgerGroupDto.ledgerGroupMainConstantses}"
                                                       var="a"
							itemValue="#{a.name}" 
                                                        itemLabel="#{a.name}"
                                                       />
                                        
                                    
                                    </h:selectOneMenu>
                                    <h:message class="redcolortext" for="itClassMainGroup" id="itClassMainGroupErr"/>
                                  </p>
                                


                                <p>
                                    <h:outputLabel value="Description: "><span class="compulsoryField">*</span></h:outputLabel>
                                    <h:inputText id="itClassDescription" 
                                                 required="true" 
                                                 requiredMessage="Enter Description" 
                                                 validatorMessage="Enter Valid Description."
                                                 value="#{ledgerGroupDataModelJsf.ledgerGroupDto.description}">
                                    </h:inputText>
                                    <h:message class="redcolortext" for="itClassDescription" id="itClassDescriptionErr"/>
                                </p>
                                      
                            </fieldset>
                        </div>
                        <div class="rtinner_right_block">
                            <div class="Btn_block">
                                <p>
                                    <h:commandButton id="btnEditParent" value="Save" action="#{ledgerGroupBeanJsf.saveUpdate()}">
                                        <f:ajax execute="@form" onevent="function(data){handleDisableButton(data,'frmEditParent:btnEditParent')}" render="@form"/>
                                    </h:commandButton>

                                    <h:commandButton id="btnCancel" value="Cancel" action="#{ledgerGroupBeanJsf.navigateToPage()}" immediate="true">
                                        <f:ajax execute="@form" onevent="function(data){handleDisableButton(data,'frmEditParent:btnCancel')}" render="@form"/>
                                    </h:commandButton>
                                </p>
                            </div>
                        </div>
                    </div> 
                </rich:popupPanel>
            </h:form>
        </ui:define>
    </ui:composition>
</html>

